body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.middle-style {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.middle {
    margin-right: 50%;
}
.generate-code-header{
    padding: 10px;
}
.generate-code-input{
    padding: 10px 15%;
}
.generate-code-button{
    margin-bottom: 15px;
    padding-left: 45%;
}

.input .ant-input {
    width: 100px;
    margin: 0 8px 8px 0;
}

.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

ul[role=menu]{
    border-bottom: 0px;
    background-color: rgba(255, 255, 255, 0)
}

td {
    vertical-align: top;
    padding-left: 2em;
}

tr {
    padding-left: 2em;
}

div.register {
    text-align:center;
}